.leftBar {
    flex: 2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    width: 100px;


    &::-webkit-scrollbar {
        display: none;
    }

    .container {
        padding: 20px;

        hr {
            margin: 20px 0px;
            border: none;
            height: 0.5px;
            width: 300px;
            background-color: rgba(75, 7, 75, 0.507);
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 20px;

            span {
                font-size: 12px;
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                span {
                    font-size: 14px;
                }
            }

            .item {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 30px;
                }

                span {
                    font-size: 14px;
                }
            }
        }
    }
    
    .adress {
        color: rgb(75, 7, 75);
        display: flex;
        font-weight: bold;
    }
    
    
}